* {
  font-family: monospace;
  margin: 0px;
}

button {
  background-color: #edfcf8;
  color: #21232a;
  margin: 20px;
  font-size: 30px;
  padding: 20px;
  border-radius: 10px;
}

button:hover {
  transform: scale(1.1);
}

.container {
  align-items: center;
  background-color: #21232a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 0px 10px; */
  text-align: center;
  width: 100%;
  min-height: 100vh;;
}

.cypher-container {
  align-items: center;
  color: #edfcf8;
  display: flex;
  font-size: 30px;
  justify-content: center;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  align-items: center;
}

p {
  color: #edfcf8;
  font-size: 20px;
  padding: 20px;
}

h1 {
  color: #edfcf8;
  font-size: 40px;
  margin: 10px;
}

textarea {
  background-color: #edfcf8;;
  border-radius: 10px;
  color: #21232a;
  font-size: 30px;
  height: 20vh;
  width: 50vw;
}



@media (max-width: 600px) {
  .buttons-container {
    font-size: 20px;
  }

  h1 {
    font-size: 25px;
    color: #edfcf8;
  }
  button {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
  }
  p {
    font-size: 15px;
    color: #edfcf8;
  }

  textarea {
    background-color: #edfcf8;;
    border-radius: 10px;
    color: #21232a;
    font-size: 15px;
    height: 15vh;
    width: 50vw;
  }
}
