* {
  font-family: monospace;
  margin: 0px;
  padding: 0px;
}

button {
  color: #21232a;
  margin: 20px;
  font-size: 30px;
  padding: 20px;
  border-radius: 10px;
}

button:hover {
  transform: scale(1.1);
}

.container {
  align-items: center;
  background-color: #21232a;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.cypher-container {
  align-items: center;
  color: #edfcf8;
  display: flex;
  font-size: 30px;
  justify-content: center;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  align-items: center;
}

p {
  color: #edfcf8;
  font-size: 20px;
}



h1 {
  color: #edfcf8;
  font-size: 50px;
  margin: 20px;
  padding: 20px;
}

textarea {
  border-radius: 10px;
  color: #21232a;
  font-size: 30px;
  height: 20vh;
  width: 50vw;
}

.description {
  margin: 20px;
}

@media (max-width: 600px) {
  .buttons-container {
    font-size: 20px;
  }
  button {
    font-size: 20px;
    margin: 10px;
    padding: 10px;
  }
}
